%heading {
    font-family: $font-display;
    font-weight: 500;
}

.heading-1 {
    @extend %heading;
    font-size: 3.25rem;
}

.heading-3 {
    @extend %heading;
    font-size: 2rem;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}